/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ---------- my code---------- */
#cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.card {
  -webkit-box-flex: 7%;
      -ms-flex: 7% 0 1;
          flex: 7% 0 1;
  height: 8vw;
  border: 2px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3px; }

.card img {
  max-width: 30%;
  -ms-flex-item-align: center;
      align-self: center; }

.card p {
  font-size: 10px;
  margin: 2px; }

.card p:last-child {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.back {
  background-image: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png");
  background-size: cover; }

.paired {
  background-color: #dae0e3; }

.wrong {
  -webkit-animation: wrongAnimation 0.2s;
          animation: wrongAnimation 0.2s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5; }

@-webkit-keyframes wrongAnimation {
  100% {
    border: 2px solid #ffd54f; } }

@keyframes wrongAnimation {
  100% {
    border: 2px solid #ffd54f; } }

/* ------header--------- */
.header {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  width: 85%;
  margin: 0 auto 20px; }
  .header__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    font-weight: 600; }
    .header__title__img {
      max-width: 50px;
      margin-right: 10px; }
  .header__score {
    color: #6c90ac;
    margin-bottom: 5px; }

/** ----Game finished---- **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0; }

.completed > p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0; }

.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a; }

/*# sourceMappingURL=all.css.map */
